<!DOCTYPE html>
<html>
  <head>
    <title>New Fact Alert</title>
  </head>
  <body>
    <p>Dear subscribers,</p>
    <p>
      {{ num_of_new_facts }} new facts added since
      last week.
    </p>
    {% for facts in new_facts %} {% if facts|length > 0 %}
    <h3>{{facts[1]}}:</h3>
    <ul>
      {% for i in range((3,facts[0]|length)|min) %}
      <li>{{facts[i][0]}}</li>
     {% endfor %}
    </ul>
    {% endif %} {% endfor %}
  </body>
</html>


