<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
    />

    <title>Numbers API</title>
  </head>
  <body>
    <form action="/api/subscriptions/add_subscriber" method="POST">
      <p>
        Are you interested in receiving notification when new facts are added?
      </p>
      <p>
        Enter your email address below and you'll get a notification email every
        Friday at 12PM!
      </p>
      <div>
        <label for="newemail">Email:</label>
        <input type="email" id="newemail" name="newemail" required />
        <input type="submit" value="Submit" />
      </div>
    </form>

    <h1>Numbers API</h1>

    {{ api_docs | safe }}
  </body>
</html>
